 # Assignment_2

If you copy codes from previous answers, explain each step. No explanation is 0 points.

## Part 1. Pandas


1. Go to  [INEI's](https://proyectos.inei.gob.pe/microdatos/) page.
2. Search for "Consulta por encuestas" and click on ENAHO metodolog√≠a ACTUALIZADA. 
3. Choose the one that says "Condiciones de Vida y Pobreza - ENAHO" (the one that isn't panel). 
4. Choose the year 2022, and in period choose yearly..   
5. Download the **CSV files** from the Code 1 (housing and home characteristics) and module 34 (Summary - Calculated variables ). 

(The file of the sumary is Sumaria-2022).

This task is meant to be developed using only the CSV files.

1. Read both csv files with pandas and label them with a name that allows you to work with them as databases. (If there is an error, it's because our surveys are taken on spanish and have some characteristics such as Àú from the √± or the accent. That's why in the options of reading the csv file add the next option ``` encoding = "latin-1" ```. 

(Don't forget to import pandas üêº)


In case your columns have their labels with uppercase , you can run the next code to switch to lowercase.

``` python3 
df.columns= df.columns.str.lower()
``` 
Where `df` is the name of the data frame.

In [21]:
import pandas as pd

#### Housing and home characteristics:

In [22]:
# Change the directory of the CSV file:
housing_module_2022 = pd.read_csv(r"C:\DATA\784-Modulo01\Enaho01-2022-100.csv", encoding="latin-1")
housing_module_2022

,A√ëO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,PERIODO,TIPENC,...,NBI4,NBI5,FACTOR07,NCONGLOME,SUB_CONGLOME,CODCCPP,NOMCCPP,LONGITUD,LATITUD,ALTITUD
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,2022,4,21001,32,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44118,2022,4,21001,33,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44119,2022,4,21001,34,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44120,2022,4,21001,35,11,210903,6,8,4,5,...,,,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44121,2022,4,21001,36,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0

In [23]:
# Switching to lowercase:
housing_module_2022.columns= housing_module_2022.columns.str.lower()
housing_module_2022

,a√±o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,periodo,tipenc,...,nbi4,nbi5,factor07,nconglome,sub_conglome,codccpp,nomccpp,longitud,latitud,altitud
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,2022,4,21001,32,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44118,2022,4,21001,33,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44119,2022,4,21001,34,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44120,2022,4,21001,35,11,210903,6,8,4,5,...,,,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44121,2022,4,21001,36,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0

#### Summary:

In [24]:
# Change the directory of the CSV file:
summary_2022 = pd.read_csv(r"C:\DATA\784-Modulo34\Sumaria-2022.csv", encoding="latin-1")
summary_2022

,A√ëO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,ESTRSOCIAL,FACTOR07,LD,LINPE,LINEA,POBREZA,LINEAV,POBREZAV,NCONGLOME,SUB_CONGLOME
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,578.385559,3,42033,0
34209,2022,12,20537,232,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,3,577.431763,3,42033,0
34210,2022,12,20537,233,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,579.787720,4,42033,0
34211,2022,12,20537,234,11,210106,6,7,4,4,...,6,329.687836,0.733048,195.850494,315.582428,2,572.994141,2,42033,0
34212,2022,12,20537,235,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,2,578.909973,2,42033,0

In [25]:
# Switching to lowercase:
summary_2022.columns= summary_2022.columns.str.lower()
summary_2022

,a√±o,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,estrsocial,factor07,ld,linpe,linea,pobreza,lineav,pobrezav,nconglome,sub_conglome
0,2022,1,5030,8,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,636.334351,4,6618,0
1,2022,1,5030,17,11,10201,7,4,2,2,...,4,106.890244,0.809237,223.765335,378.169434,3,662.069275,4,6618,0
2,2022,1,5030,33,11,10201,7,4,4,4,...,4,106.890244,0.809237,223.765335,378.169434,3,662.475037,3,6618,0
3,2022,1,5030,50,11,10201,7,4,3,3,...,4,106.890244,0.809237,223.765335,378.169434,3,652.384521,3,6618,0
4,2022,1,5030,59,11,10201,7,4,11,11,...,4,106.890244,0.809237,223.765335,378.169434,2,654.640137,2,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,578.385559,3,42033,0
34209,2022,12,20537,232,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,3,577.431763,3,42033,0
34210,2022,12,20537,233,11,210106,6,7,1,1,...,6,329.687836,0.733048,195.850494,315.582428,3,579.787720,4,42033,0
34211,2022,12,20537,234,11,210106,6,7,4,4,...,6,329.687836,0.733048,195.850494,315.582428,2,572.994141,2,42033,0
34212,2022,12,20537,235,11,210106,6,7,2,2,...,6,329.687836,0.733048,195.850494,315.582428,2,578.909973,2,42033,0

2. - What are the dimensions of the summary( or the number of columns and rows)
   - What are the dimensions of the housing module (or the number of columns and rows).

In [26]:
# Dimensions of housing module (columns and rows):
housing_module_2022.shape
# Hay 44122 filas y 324 colummnas

(44122, 324)

In [27]:
# Dimensions of summary (columns and rows):
summary_2022.shape
# Hay 34213 filas y 167 colummnas

(34213, 167)

3. We wont need all the variables from ENAHO. 
- Keep the next variables from the summary ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D UBIGEO``` 
- Keep the next variables from the housing module ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ```.
 
 Note: each one of the varibles is :
- MIEPERHO: number of members per home.. 
- PERCEPHO: number of members that earn some income 
- POBREZA: monetary poverty according to the poor line.
- GASHOG2D: gross anual household expenditure.
- INGHOG2D: anual net household incomer. 
- UBIGEO: 6 digit code that indicates the district the persons belongs to.

Basic needs::
- NBI1: inadequate housing
- NBI2: overcrowding
- NBI3: housing without hygienic services
- NBI4: households with children who do not attend school.
- NBI5: households with high economic dependence

CONGLOME, VIVIENDA y HOGAR are the unique's household identifiers ( like a  key id).

In [28]:
# Housing module:
columns_1 = ["conglome", "vivienda", "hogar", "result", "nbi1", "nbi2", "nbi3", "nbi4", "nbi5"]
housing_module_2022 = housing_module_2022.loc[ : , columns_1]
housing_module_2022

       conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0          5007         3     11       1    0    0    0    0    0
1          5007        12     11       1    0    0    0    0    0
2          5007        22     11       1    0    0    0    0    0
3          5007        31     11       4
4          5007        50     11       1    0    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...  ...
44117     21001        32     11       1    0    0    0    0    0
44118     21001        33     11       1    0    0    0    0    0
44119     21001        34     11       1    0    0    0    0    0
44120     21001        35     11       7
44121     21001        36     11       2    0    0    0    0    0

[44122 rows x 9 columns]

In [29]:
# Summary module:
columns_2 = ["conglome", "vivienda", "hogar", "mieperho", "percepho", "pobreza", "gashog2d", "inghog2d", "ubigeo"]
summary_2022 = summary_2022.loc[ : , columns_2]
summary_2022

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201
...,...,...,...,...,...,...,...,...,...
34208,20537,144,11,1,1,3,4437.814941,9944.963867,210106
34209,20537,232,11,2,2,3,7931.826660,12475.635742,210106
34210,20537,233,11,1,1,3,8516.791992,5277.916016,210106
34211,20537,234,11,4,2,2,12919.851562,9397.998047,210106
34212,20537,235,11,2,2,2,6268.943359,7382.806152,210106

4. The housing module includes all the houses that got into the sampling frame even the ones that didn't participate in the ENAHO for various reasons. To delete these houses just keep the ones wich  ``` RESULT``` is equeal to 1 or 2. Keep this information for later

In [30]:
housing_filtered = housing_module_2022[(housing_module_2022['result'] == 1) | (housing_module_2022['result'] == 2)]

In [31]:
housing_filtered.head()

    conglome  vivienda  hogar  result nbi1 nbi2 nbi3 nbi4 nbi5
0       5007         3     11       1    0    0    0    0    0
1       5007        12     11       1    0    0    0    0    0
2       5007        22     11       1    0    0    0    0    0
4       5007        50     11       1    0    0    0    0    0
10      5009        56     11       1    0    1    0    0    0

5. We want to calculate a series of new variables( or new columns) :  

In the summary : 
- We want the number of household dependent. These are the ones that don't percieve any income or the difference between the total household  members  and the total of percievers. 
- We want the average monthly income from the household percievers. 
- We want the difference between income and expenditure of the houselholds.

In [32]:
# 1. N√∫mero de dependientes en el hogar (diferencia entre mieperho y percepcho)
summary_2022['dependientes'] = summary_2022['mieperho'] - summary_2022['percepho']
summary_2022.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4

In [33]:
# 2. Ingreso mensual promedio de los perceptores del hogar
summary_2022['ingreso_prom_perceptor'] = summary_2022['inghog2d'] / (12 * summary_2022['percepho'])
summary_2022.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016

In [34]:
# 3. Diferencia entre ingreso y gasto del hogar
summary_2022['dif_ingreso_gasto'] = summary_2022['inghog2d'] - summary_2022['gashog2d']
summary_2022.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor,dif_ingreso_gasto
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484

6. We want the `poverty` variable in the summary to be codified as an integers 1, 2 ,3 according to:
`1`: extreme poor home
`2`: not extreme poor home
`3`: not poor home  

Using this variable , make two more: 
1. A variable that says  `'extreme poor'`, `' not extreme poor'` and `'not poor '` instead of 1,2,3.
2. A variable that has `'poor'` and  `'not poor'` (or one that combines the poor and not extreme poor households).

In [35]:
# 1. Codificar la variable `poverty` como enteros
summary_2022['pobreza'] = summary_2022['pobreza'].astype(int)

# 2. Crear la variable categ√≥rica basada en `poverty`
summary_2022['pobreza_label'] = summary_2022['pobreza'].replace({
    1: 'extreme poor',
    2: 'not extreme poor',
    3: 'not poor'
})

summary_2022.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor,dif_ingreso_gasto,pobreza_label
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031,not poor
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750,not poor
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344,not poor
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219,not poor
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484,not extreme poor

In [36]:
# 2. Crear la variable categ√≥rica basada en `poverty`
summary_2022['pobreza_binaria'] = summary_2022['pobreza'].replace({
    1: 'poor',
    2: 'poor',
    3: 'not poor'
    })

summary_2022.head()

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor,dif_ingreso_gasto,pobreza_label,pobreza_binaria
0,5030,8,11,2,2,3,36949.523438,34606.441406,10201,0,1441.935059,-2343.082031,not poor,not poor
1,5030,17,11,2,2,3,48161.250000,82028.218750,10201,0,3417.842448,33866.968750,not poor,not poor
2,5030,33,11,4,4,3,27575.876953,31791.029297,10201,0,662.313110,4215.152344,not poor,not poor
3,5030,50,11,3,1,3,16161.042969,24028.867188,10201,2,2002.405599,7867.824219,not poor,not poor
4,5030,59,11,11,7,2,30606.212891,46056.109375,10201,4,548.287016,15449.896484,not extreme poor,poor

7. We want to now the average household income (inghog2d) per poverty level. Make a `groupby` to find this.

(For example, the extreme poor households would only have one mean and it's the same for the others two  poor categories).

In [37]:
avg_income_by_poverty = summary_2022.groupby('pobreza_label')['inghog2d'].mean().reset_index()
avg_income_by_poverty.head()

      pobreza_label      inghog2d
0      extreme poor  12945.434301
1  not extreme poor  20042.135942
2          not poor  40513.933057

8. We whould now merge the data  
But before a sanity check: Verify that the number of rows in both data bases are the same.( remember we filtrate the observations  by  `result`).  The ENAHO  recolects the information of these 34,490 homes trough all their modules. In order to use all the modules at once, we would merge them.   

Merge both bases with an _inner merge_. Remember that the id that identifies each home its componed by  ` conglome vivienda hogar`.

In [38]:
print(len(summary_2022))
print(len(housing_filtered))

34213
34213

We can aprecciate that there exists the same rows in each dataset.

In [39]:
data_merge = housing_module_2022.merge(summary_2022, on=['conglome', 'vivienda', 'hogar'], how="inner", validate="m:1")

In [40]:
data_merge

,conglome,vivienda,hogar,result,nbi1,nbi2,nbi3,nbi4,nbi5,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor,dif_ingreso_gasto,pobreza_label,pobreza_binaria
0,5007,3,11,1,0,0,0,0,0,1,1,3,40847.644531,31442.000000,10101,0,2620.166667,-9405.644531,not poor,not poor
1,5007,12,11,1,0,0,0,0,0,1,1,3,16204.973633,21950.435547,10101,0,1829.202962,5745.461914,not poor,not poor
2,5007,22,11,1,0,0,0,0,0,3,3,3,49330.324219,88248.492188,10101,0,2451.347005,38918.167969,not poor,not poor
3,5007,50,11,1,0,0,0,0,0,2,2,3,32412.154297,35573.386719,10101,0,1482.224447,3161.232422,not poor,not poor
4,5009,56,11,1,0,1,0,0,0,4,4,3,31859.541016,32386.849609,10101,0,674.726034,527.308594,not poor,not poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,21001,30,11,1,0,0,0,0,0,3,3,3,14480.359375,7992.748535,210903,0,222.020793,-6487.610840,not poor,not poor
34209,21001,32,11,1,0,0,0,0,0,7,2,3,34216.953125,27907.382812,210903,5,1162.807617,-6309.570312,not poor,not poor
34210,21001,33,11,1,0,0,0,0,0,3,2,3,18370.847656,6965.330078,210903,1,290.222087,-11405.517578,not poor,not poor
34211,21001,34,11,1,0,0,0,0,0,2,2,3,9750.235352,14278.798828,210903,0,594.949951,4528.563477,not poor,not poor
34212,21001,36,11,2,0,0,0,0,0,3,3,3,16975.548828,8473.958008,210903,0,235.387722,-8501.590820,not poor,not poor

In [41]:
data_merge.isnull().sum()

conglome                  0
vivienda                  0
hogar                     0
result                    0
nbi1                      0
nbi2                      0
nbi3                      0
nbi4                      0
nbi5                      0
mieperho                  0
percepho                  0
pobreza                   0
gashog2d                  0
inghog2d                  0
ubigeo                    0
dependientes              0
ingreso_prom_perceptor    1
dif_ingreso_gasto         0
pobreza_label             0
pobreza_binaria           0
dtype: int64

In [42]:
data_merge.describe()

,conglome,vivienda,hogar,result,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,ingreso_prom_perceptor,dif_ingreso_gasto
count,34213.000000,34213.000000,34213.000000,34213.000000,34213.000000,34213.000000,34213.000000,34213.000000,3.421300e+04,34213.000000,34213.000000,3.421200e+04,3.421300e+04
mean,16059.819805,82.915880,11.146991,1.146173,3.331424,2.137141,2.750855,28126.768602,3.600106e+04,129933.636132,1.194283,inf,7.874294e+03
std,3937.991687,81.749994,1.415472,0.353284,1.770910,1.044611,0.524348,21648.068151,3.720752e+04,67963.853117,1.298080,NaN,2.523057e+04
min,5007.000000,1.000000,11.000000,1.000000,1.000000,0.000000,1.000000,772.820007,0.000000e+00,10101.000000,0.000000,3.770833e+01,-1.826980e+05
25%,15514.000000,31.000000,11.000000,1.000000,2.000000,1.000000,3.000000,13580.573242,1.448897e+04,70106.000000,0.000000,6.596576e+02,-1.772895e+03
50%,17087.000000,66.000000,11.000000,1.000000,3.000000,2.000000,3.000000,22781.894531,2.600994e+04,140101.000000,1.000000,1.110553e+03,2.550849e+03
75%,18754.000000,108.000000,11.000000,1.000000,4.000000,3.000000,3.000000,36070.496094,4.466250e+04,180301.000000,2.000000,1.812673e+03,1.118380e+04
max,21001.000000,976.000000,55.000000,2.000000,21.000000,11.000000,3.000000,279142.718750,1.245651e+06,250305.000000,12.000000,inf,1.190494e+06

In [43]:
data_merge.shape

(34213, 20)

## Part 2. If and loops

1.   

a. Do a  for-loop that goes from 22 to 42, but that only take the odd numbers.  Print each of the elements as you iterate through them. Hint : you can use ranges. 

b. Modify your program so that as you iterate through them, you add them to a variable called sum_total, defined before the loop begins. Use a operator that has a higher allocation.

In [257]:
# a.
for i in range(22,43) :
    if i % 2!=0: 
        print(i)

23
25
27
29
31
33
35
37
39
41

In [256]:
#b. 
sum_total = 0 

for x in range(22,43): 
    if x % 2!= 0: 
        print(x) 
        sum_total += x

print("Sum of odd numbers:", sum_total)

23
25
27
29
31
33
35
37
39
41
Sum of odd numbers: 320

2.  Write a  while loop that begins in 1 and ends in 100, but each loop, the counter i is increasing +=2.

In [238]:
i = 1
while i <= 100:
    print(i)
    i += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

3. Write a program that asks the user for their age and determines if they are of legal age (18 years or older). If it is, it displays a message indicating that you can vote. If not, it displays a message indicating that you cannot vote yet.

In [19]:
def func_voting(age):     
    try: 
        age = int(age)

        if age > 130: 
            print("Please enter a realistic age. ")

        elif age >= 18: 
            print("You are allowed to vote)")

        else: 
            print("You are not allowed to vote yet :/")
            age = int(age)
    except ValueError:
        print("Invalid input. Please enter numeric value indicating your age")

In [18]:
func_voting("Aurora")

Invalid input. Please enter numeric value indicating your age